<div class = "row">
    <div class = "col-sm-1">
        <a src = "" class="logo title">SweetV</a>
    </div>
    <div class = "col-sm-11">
        <div class = "right_align">
            <a href="/" class="button regular">Home</a>
            <a href="/menu" class="button regular">Menu</a>
            <a href="/about" class="button regular">About</a>
            <a href="/order" class="button regular">Order</a>
            <a href = "/cart" class = "button"><span class="icon-cart"></span></a>
            <a href = "/profile" class = "button"><span class="icon-user"></span></span></a>
        </div>
    </div>
</div>