<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - About</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/about.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div>
        <div class = "main_img"></div>
        <div class = "main_bg"></div>
        <h1 class = "bg_text title">About SweetV</h1>
        <h1 class = "main_text title">About SweetV</h1>
    </div>

    <div class = "row">
        <div class = "col-sm-6">
            <p class = "regular">Vrielle Guevarra, founder of SweetV, had always loved to bake. 
                Ever since she can remember, she helped her mom and grandma in the kitchen making all kinds of Filipino desserts from leche flan to layered ube cake.
                Her mom used to always say that one she'll own a bakery called "SweetV". Now, after years of perfecting her cookie recipe and learning computer science, 
                mere talk and dreams of SweetV have become a reality.
            </p>
        </div>
        <div class = "col-sm-6">
            <img src = "../images/test_cookies.jpeg">
        </div>
    </div>
    
    <footer class = "sticky">
        <%- include('partials/footer.ejs') %>
    </footer>

    <!-- feather icons -->
    <%- include('partials/feather.ejs') %>
</body>
</html>