<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - Details</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <link rel="stylesheet" href="../public/stylesheets/item_detail.css">
    <link rel="stylesheet" href="../public/stylesheets/add_to_cart.css">
</head>

<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class="row secondary-back-color">
        <h1 class="center"><small class="regular">Ube Macapuno Cookies</small></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card fluid">
                    <img src="..\images\ube.png" alt="ube macapuno cookies">
                </div>
            </div>
            <div class="col-sm-6">
                <form>
                    <fieldset>
                      <legend class = "regular">Item Information:</legend>
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <label for="item" class = "regular">Name:</label>
                          <input type="text" id="item" placeholder="Ube Macapuno Cookies" class = "regular"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                          <label for="quantity" class = "regular">Quantity:</label>
                          <input type="number" id="quantity" placeholder="12" class = "regular"/>
                        </div>
                    </fieldset>
                  </form>
                <div class="center">
                    <a href=""><button class="btn regular">Add to Cart</button></a>
                    <a href="order.html"><button class="btn regular">Back to Showcase</button></a>
                </div>
        </div>
        </div>
    </div>

</body>
</html>