<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - Cart</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/cart.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class = "row">
        <div class = "col-sm-10">
            <table class = "hoverable">
                <caption class = "regular">Order:</caption>
                <thead>
                    <tr>
                      <th class = "regular">Item:</th>
                      <th class = "regular">Quantity:</th>
                      <th class = "regular">Total:</th>
                      <th class = "regular">Notes:</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "regular">Chocolate Chip Cookies</td>
                        <td class = "regular">36</td>
                        <td class = "regular">$75.00</td>
                        <td class = "regular">Add extra chocolate chips.</td>
                        <td>
                            <button class = "main_btn regular" href="/cart/edit">Edit</button>
                            <button class = "main_btn regular" href="/cart/delete">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <td class = "regular">Matcha White Chocolate Chip Cookies</td>
                        <td class = "regular">5</td>
                        <td class = "regular">$20.00</td>
                        <td class = "regular"></td>
                        <td>
                            <button class = "main_btn regular" href="/cart/edit">Edit</button>
                            <button class = "main_btn regular" href="/cart/delete">DELETE</button>
                        </td>
                    </tr>
                    <tr>
                        <td class = "regular">Oatmeal Strawberry Cookies</td>
                        <td class = "regular">24</td>
                        <td class = "regular">$50.00</td>
                        <td class = "regular"></td>
                        <td>
                            <button class = "main_btn regular" href="/cart/edit">Edit</button>
                            <button class = "main_btn regular" href="/cart/delete">DELETE</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "col-sm-2">
            <p class = "regular">Subtotal: $145.00</p>
            <p class = "regular">Labor Fee: $10.00</p>
            <p class = "regular">Total: $155.00</p>

            <button class = "btn regular" href="/cart">
                <label for="modal-control" class = "regular">PLACE ORDER NOW</label>
            </button>
            <input type="checkbox" id="modal-control" class="modal">
            <div>
              <div class="card">
                <label for="modal-control" class="modal-close"></label>
                <h3 class="section regular">Order Placed!</h3>
                <p class="section regular">Please check your email for your pickup date and time.
                </p>
                <p class="section regular">Please have $155.00 in cash ready at pickup,
                    or venmo @vrielle <b class = "regular">PRIOR TO</b> your pickup.
                </p>
                <p class="section regular bold">If we do not receive your payment, we will NOT
                    give you your order.
                </p>
                <p class="section regular bold">If you do not show up for your pickup, we will
                    no longer take orders from you.
                </p>
              </div>
            </div>
        </div>
    </div>

    <footer class = "sticky">
        <%- include('partials/footer.ejs') %>
    </footer>

    <!-- feather icons -->
    <%- include('partials/feather.ejs') %>
</body>
</html>