<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Order</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/menu.css">
    <link rel="stylesheet" href="../stylesheets/cart.css">
</head>

<body>
    <div class="row secondary-back-color">
        <h4 class="center"><small class="regular">made to order, handcrafted flavors</small></h4>
    </div>
    <!-- eventually menu bar partial -->
    <header>
        <div class="row">
            <div class="col-sm-1">
                <a src="" class="logo title">SweetV</a>
            </div>
            <div class="col-sm-11">
                <div class="right_align">
                    <a href="index.html" class="button regular">Home</a>
                    <a href="menu.html" class="button regular">Menu</a>
                    <a href="about.html" class="button regular">About</a>
                    <a href="cart.html" class="button regular">Cart</a>
                </div>
            </div>
        </div>
    </header>
    <div class="center">
        <h1 class="center" id="page-title"><small class="regular" style="color: rgb(60, 11, 78);">Your Cart</small></h1>
    </div>

    <table class="table hoverable">

        <head>
            <tr>
                <th></th>
                <th><small class="regular" style="color: rgb(60, 11, 78);">Item</small></th>
                <th><small class="regular" style="color: rgb(60, 11, 78);">Quantity</small></th>
                <th><small class="regular" style="color: rgb(60, 11, 78);">...</small></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img class = "order" src="..\images\ube.jpeg" /></td>
                    <td class = "order_text">Cookie</td>
                    <td class = "order_text">5</td>
                    <td class = "order_text"><a href="#"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                <tr>
                    <td><img class = "order" src="..\images\ube.jpeg" /></td>
                    <td class = "order_text">Cupcake</td>
                    <td class = "order_text">5</td>
                    <td class = "order_text"><a href="#"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
                <tr>
                    <td><img class = "order" src="..\images\ube.jpeg" /></td>
                    <td class = "order_text">Chocolate</td>
                    <td class = "order_text">7</td>
                    <td class = "order_text"><a href="#"><button class="btn btn-primary">Edit</button></a></td>
                </tr>
            </tbody>
    </table>
    <div class="row">
        <div class="col-sm regular">
            <a href="#" class="button regular">Check Out</a>
        </div>
    </div>
    <br>

    <div class="row secondary-back-color">
        <h5 class="left"><small class="regular">Recommended:</small></h5>
    </div>

    <br>

    <!-- example
    <div class="card">
        <img src="..\images\ube.jpeg" class="section media" />
        <div class="section"></div>
        <div class="section dark">
    </div>
    </div> -->

    <!-- 4x4 grid for products display -->
    <div class="row">
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card flex">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <input type="number" value="1">
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Cart</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm regular center_special">
            <a href="menu.html" class="button center_special regular">Back to Home</a>
        </div>
    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
</body>

</html>