<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/cart.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <div class = "row">
            <div class = "col-sm-1">
                <a src = "" class="logo title">SweetV</a>
            </div>
            <div class = "col-sm-11">
                <div class = "right_align">
                    <a href="index.html" class="button regular">Home</a>
                    <a href="menu.html" class="button regular">Menu</a>
                    <a href="about.html" class="button regular">About</a>
                    <a href="order.html" class="button regular">Order</a>
                    <a href = "cart.html" class = "button"><span class="icon-cart"></span></a>
                    <a href = "profile.html" class = "button"><span class="icon-user"></span></span></a>
                </div>
            </div>
        </div>
    </header>

    <div class = "row">
        <div class = "col-sm-9">
            <table class = "hoverable">
                <caption class = "regular">Order:</caption>
                <thead>
                    <tr>
                      <th class = "regular">Item:</th>
                      <th class = "regular">Quantity:</th>
                      <th class = "regular">Total:</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class = "regular">Chocolate Chip Cookies</td>
                        <td class = "regular">36</td>
                        <td class = "regular">$75.00</td>
                        <td><button class = "large main_btn regular" href="">DELETE</button></td>
                    </tr>
                    <tr>
                        <td class = "regular">Matcha White Chocolate Chip Cookies</td>
                        <td class = "regular">5</td>
                        <td class = "regular">$20.00</td>
                        <td><button class = "large main_btn regular" href="">DELETE</button></td>
                    </tr>
                    <tr>
                        <td class = "regular">Oatmeal Strawberry Cookies</td>
                        <td class = "regular">24</td>
                        <td class = "regular">$50.00</td>
                        <td><button class = "large main_btn regular" href="">DELETE</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class = "col-sm-3">
            <p class = "regular">Subtotal: $145.00</p>
            <p class = "regular">Labor Fee: $10.00</p>
            <p class = "regular">Total: $155.00</p>
            <button class = "btn regular" href="order.html">PLACE ORDER NOW</button>
        </div>
    </div>

    

    <!-- eventually footer partial -->
    <footer class = "sticky">
        <div class = "row">
            <div class = "col-sm-6">
                <h5 class = "regular">© 2023 SweetV</h5>
            </div>
            <div class = "col-sm-6">
                <div class = "footer_right_align">
                    <a href="menu.html" class="regular">Menu</a>
                    <a href="about.html" class="regular">About</a>
                    <a href="order.html" class="regular">Order</a> 
                </div>   
            </div>
        </div>  
    </footer>
</body>
</html>