<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - Edit</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/item_detail.css">
    <link rel="stylesheet" href="../stylesheets/add_to_cart.css">
</head>

<body>
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class="row secondary-back-color">
        <h1 class="center"><small class="regular">Ube Macapuno Cookies</small></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card fluid">
                    <img src="..\images\ube.png" alt="ube macapuno cookies">
                </div>
            </div>
            <div class="col-sm-6">
                <form>
                    <fieldset>
                      <legend class = "regular">Item Information:</legend>
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <label for="quantity" class = "regular">Quantity:</label>
                          <input type="number" id="quantity" placeholder="12" class = "regular"/>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <label for="item" class = "regular">Notes:</label>
                            <input type="text" name="notes" placeholder="Add extra chocolate chips" class = "regular"/>
                        </div>
                    </fieldset>
                  </form>
                <div class="center">
                    <a href=""><button class="btn regular" type = "submit">Save Changes</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- feather icons -->
    <%- include('partials/feather.ejs') %>

</body>
</html>