<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div>
        <div class = "main_img"></div>
        <div class = "main_bg"></div>
        <h1 class = "bg_text title">SweetV</h1>
        <h1 class = "main_text title">SweetV</h1>
        <a href="order.html"><button class = "main_btn regular">ORDER NOW</button></a>
    </div>

    <div class = "row">
        <div class = "col-sm-6">
            <h1 class = "regular">High-Quality Treats. Unique Flavors.</h1>
            <p class = "regular">SweetV's iconic treats are beloved by all who have gotten to try them. 
                With high-quality ingredients and one of a kind flavors, SweetV offers cookies you'll never be able to find elsewhere. 
                Every order is handmade and baked fresh the same day as pick-up.
                Through this soft launch, dreams of owning a bakery and SweetV will finally become a reality.</p>
        </div>
        <div class = "col-sm-6">
            <img src = "../images/ube-index.jpeg">
        </div>
    </div>

    <div class = "row info">
        <div class = "col-sm-6">
            <img src = "../images/cookiebox-index.jpg">
        </div>
        <div class = "col-sm-6">
            <h2 class = "regular">Business Info</h2>
            <h4 class = "regular">Hours: <a class = "regular purple">8:00 AM - 5:00 PM</a></h4>
            <h4 class = "regular">Instagram: <a class = "regular purple">@sweetv</a></h4>
            <h4 class = "regular">Phone Number: <a class = "regular purple">+1 201-749-9338</a></h4>
            <h4 class = "regular">Email: <a class = "regular purple">sweetv@gmail.com</a></h4>
        </div>
    </div>

    <footer class = "sticky">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>