<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <div class = "row">
            <div class = "col-sm-1">
                <a src = "" class="logo title">SweetV</a>
            </div>
            <div class = "col-sm-11">
                <div class = "right_align">
                    <a href="index.html" class="button regular">Home</a>
                    <a href="menu.html" class="button regular">Menu</a>
                    <a href="about.html" class="button regular">About</a>
                    <a href="order.html" class="button regular">Order</a>
                    <!-- <a href = "cart.html"><span class="icon-cart"></span></a>
                    <a href = "profile.html"><span class="icon-user"></span></span></a> -->
                </div>
            </div>
        </div>
    </header>

    <div>
        <div class = "main_img"></div>
        <div class = "main_bg"></div>
        <h1 class = "bg_text title">SweetV</h1>
        <h1 class = "main_text title">SweetV</h1>
        <button class = "main_btn regular" href="">ORDER NOW</button>
    </div>

    <div class = "row">
        <div class = "col-sm-6">
            <h1 class = "regular">Lorem Ipsum. Dolar Sit Amet.</h1>
            <p class = "regular">Morbi at ornare urna. Aliquam condimentum erat sed molestie tristique. Vivamus tincidunt suscipit tempor. Nam eleifend, metus nec lobortis iaculis, lacus magna auctor quam, eget tincidunt justo felis porttitor nulla. Phasellus tempor eu ante eu congue. Etiam interdum arcu at neque auctor luctus. Maecenas pretium egestas mi vel congue. In eu auctor elit. Aliquam pellentesque eget est vel feugiat.</p>
        </div>
        <div class = "col-sm-6">
            <img src = "../images/ube-index.jpeg">
        </div>
    </div>

    <div class = "row info">

    </div>

    <!-- <footer>

    </footer> -->
</body>
</html>