<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV - Details</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../public/stylesheets/navbar.css">
    <link rel="stylesheet" href="../public/stylesheets/item_detail.css">
</head>

<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class="row secondary-back-color">
        <h1 class="center"><small class="regular">Ube Macapuno Cookies</small></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card fluid">
                    <img src="..\images\ube.png" alt="ube macapuno cookies">
                </div>
            </div>
            <div class="col-sm-6">
                <div class = "collapse">
                    <input type="checkbox" id="collapse-section1" checked aria-hidden="true">
                    <label for="collapse-section1" aria-hidden="true" class = "regular">Pricing</label>
                    <div>
                        <p class = "regular">$4.75 each, $25 per dozen</p>
                    </div>    
                </div>
                <div class = "collapse">
                    <input type="checkbox" id="collapse-section2" checked aria-hidden="true">
                    <label for="collapse-section2" aria-hidden="true" class = "regular">Ingredients</label>
                    <div>
                        <p class = "regular">Ube (mashed), flour, sugar, butter, macapuno, eggs, baking powder, baking soda, salt, ube
                        extract</p>
                    </div>    
                </div>
                <div class = "collapse">
                    <input type="checkbox" id="collapse-section3" checked aria-hidden="true">
                    <label for="collapse-section3" aria-hidden="true" class = "regular">Allergens</label>
                    <div>
                        <p class = "regular">Wheat, dairy, gluten</p>
                    </div>    
                </div>
                <div class = "collapse">
                    <input type="checkbox" id="collapse-section4" checked aria-hidden="true">
                    <label for="collapse-section4" aria-hidden="true" class = "regular">Description</label>
                    <div>
                        <p class = "regular"> Overall, a very yummy (and more importantly purple) cookie.</p>
                    </div>    
                </div>
                <div class="center">
                    <a href="menu.html"><button class="btn btn-primary regular">Add to Cart</button></a>
                    <a href="menu.html" class="button regular">Back to Showcase</a>
                </div>
        </div>
        </div>
    </div>

</body>

</html>