<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/menu.css">
</head>

<body>
    <div class="row secondary-back-color">
        <h4 class="center"><small class="regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <div class="row">
            <div class="col-sm-1">
                <a src="" class="logo title">SweetV</a>
            </div>
            <div class="col-sm-11">
                <div class="right_align">
                    <a href="index.html" class="button regular">Home</a>
                    <a href="menu.html" class="button regular">Menu</a>
                    <a href="about.html" class="button regular">About</a>
                    <a href="" class="button regular">Order</a>
                </div>
            </div>
        </div>
    </header>

    <div class="row secondary-back-color">
        <h1 class="center"><small class="regular">details</small></h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card fluid">
                    <img src="..\images\ube.jpeg" alt="purple ube cookies">
                    <div class="card-body">
                        <div class="section">
                            <p class="description">Purple Ube Cookies</p>
                        </div>
                        <div class="section dark">
                            <p class="price">$12</p>
                        </div>
                        <a href="menu.html"><button class="btn btn-primary">Add to Cart</button></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card fluid">
                    <div class="card-header">
                        <h3 class="card-title double-padded">About</h3>
                    </div>
                    <div class="card-body">
                        <div class="section dark">
                            <h5>Ingredients:</h5>
                            <p class="card-text">
                                Ube (mashed), flour, sugar, white chocolate, butter, eggs, baking powder, salt, vanilla
                                extract, milk
                            </p>
                        </div>

                        <div class="section dark">
                            <h6>Allergens:</h6>
                            <p class="card-text">
                                Wheat, dairy, gluten
                            </p>
                        </div>

                        <br>
                        <div class="section dark">
                            <p id="desc" class="card-text">
                                Overall a very yummy (and more importantly purple) cookie.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="center">
                    <a href="menu.html" class="button regular">Back to Showcase</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>