<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV Item Showcase</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/menu.css">

    <!-- slick -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" />
    <link rel="stylesheet" href="../stylesheets/showcase.css">
</head>

<body>
    <div class="row secondary-back-color">
        <h4 class="center"><small class="regular">made to order, handcrafted flavors</small></h4>
    </div>
    <!-- eventually menu bar partial -->
    <header>
        <div class="row">
            <div class="col-sm-1">
                <a src="" class="logo title">SweetV</a>
            </div>
            <div class="col-sm-11">
                <div class="right_align">
                    <a href="index.html" class="button regular">Home</a>
                    <a href="menu.html" class="button regular">Menu</a>
                    <a href="about.html" class="button regular">About</a>
                    <a href="" class="button regular">Order</a>
                </div>
            </div>
        </div>
    </header>

    <div class="carousel">
        <div><img src="..\images\matcha.jpeg"></div>
        <div><img src="..\images\chocolate_chip.jpeg"></div>
    </div>

    <!-- <div class="carousel">
    <div class="carousel-image" style="background-image: url('image-1.jpg');"></div>
    <div class="carousel-image" style="background-image: url('image-2.jpg');"></div>
    <div class="carousel-image" style="background-image: url('image-3.jpg');"></div>
  </div> -->

    <div class="row secondary-back-color">
        <h5 class="left"><small class="regular">our humble selection:</small></h5>
    </div>

    <br>

    <!-- example
    <div class="card">
        <img src="..\images\ube.jpeg" class="section media" />
        <div class="section"></div>
        <div class="section dark">
    </div>
    </div> -->

    <!-- 4x4 grid for products display -->
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <img src="..\images\ube.jpeg" alt="purple ube cookies">
                <div class="card-body">
                    <div class="section">
                        <p class="description">Purple Ube Cookies</p>
                    </div>
                    <div class="section dark">
                        <p class="price">$12</p>
                    </div>
                    <a href="item_detail.html"><button class="btn btn-primary">Add to Order</button></a>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- foundation -->
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>

    <!-- slick -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>
    <script src="../carousel.js"></script>

</body>

</html>