<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SweetV</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&family=Parisienne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel="stylesheet" href="../stylesheets/footer.css">
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <!-- eventually menu bar partial -->
    <div class = "row secondary-back-color">
        <h4 class = "center"><small class= "regular">made to order, handcrafted flavors</small></h4>
    </div>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>

    <div class = "container">
        <div class = "row">
            <div class = "col-sm-3">
            </div>
            <div class = "col-sm-6">
                <div class = "row">
                    <div class = "col-sm-6">
                        <img src = "../images/default_avatar.jpeg">
                    </div>
                    <div class = "col-sm-6">
                        <div class = "collapse">
                            <input type="checkbox" id="collapse-section1" checked aria-hidden="true">
                            <label for="collapse-section1" aria-hidden="true" class = "regular">Name:</label>
                            <div>
                                <p class = "regular">Matthew Wang</p>
                            </div>    
                        </div>
                        <div class = "collapse">
                            <input type="checkbox" id="collapse-section2" checked aria-hidden="true">
                            <label for="collapse-section2" aria-hidden="true" class = "regular">Email:</label>
                            <div>
                                <p class = "regular">matwan@bergen.org</p>
                            </div>    
                        </div>
                        <button class = "btn regular" href="">Logout</button>
                    </div>
                </div>
            </div>
            <div class = "col-sm-3">
            </div>
        </div>
    </div>

    <footer class = "sticky">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>