:root {
    --back-color: #f4edf7;
    --button-back-color: #dec6ea;
    --button-fore-color: #543563;
    --button-hover-back-color: #f5e8fc;
    --footer-back-color: #543563;
    --footer-link-color: white;
}

.main_img {
    background-image: url("../images/ube-slideshow.jpeg");
    height: 470px;
    width: auto;
}

.main_bg {
    position: absolute;
    top: 47%;
    left: 49%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dec6ea;
    height: 45px;
    width: 600px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

.bg_text {
    position: absolute;
    top: 46%;
    left: 47.2%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 100px;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

.main_text {
    position: absolute;
    top: 46%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 100px;
    color: #543563;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 5px;
}

img {
    display: block;
    position: absolute;
    right: 0;
    padding: 30px;
    padding-top: 75px;
    padding-right: 70px;
    width: 600px;
    height: auto;
    filter: drop-shadow(15px 15px #dec6ea);
}

h1 {
    font-size: 65px;
    color: #543563;
    padding-top: 125px;
    padding-left: 50px;
}

h2 {
    background-color: #dec6ea;
    font-size: 40px;
    color: #543563;
    margin-top: 175px;
    margin-left: 50px;
    margin-bottom: 25px;
    padding-left: 3px;
}

h4 {
    margin-top: 5px;
    margin-left: 50px;
}

p {
    font-size: 28px;
    color: #392444;
    padding-top: 125px;
    padding-left:70px;
}

footer {
    margin-top: 100px;
}