:root {
    --form-back-color: #ecdbf5;
    --form-border-color: #ab9db2;
    --form-fore-color: #543563;
    --input-fore-color: #543563;
}

form {
    margin: 5px;
}

.btn:hover {
    background-color: #7c618f;
    color: #ebe0f1;
    border-color: #220430;
    color: #543563;
}