:root {
    --table-head-fore-color: #543563;
    --table-body-fore-color: #543563;
    --table-head-back-color: #dec6ea;
    --table-body-back-color: #f8effd;
    --table-border-color: #543563;
    --table-body-hover-back-color: #e7ccf3;

}

table {
    margin-left: 30px;
}

caption {
    color: #543563;
    text-align: left;
}

.row p {
    font-size: 20px;
    margin-left: 5px;
}

.col-sm-2 {
    margin-top: 55px;
}

.col-sm-2 p {
    color: #543563;
}

.col-sm-2 button {
    font-size: 24px;
    margin-left: 5px;
}

.btn:hover {
    background-color: #7c618f;
    color: #ebe0f1;
    border-color: #220430;
    color: #543563;
}

footer {
    margin-top: 390px;
}

h3 {
    font-size: 20px;
}

.card p {
    font-size: 17px;
}

label {
    font-size: 22px;
}

.bold {
    font-weight: bolder;
}

.center {
    text-align: center;
}

/* .order {
    max-width: 250px;
    max-height: 150px;
}

.order_text {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    vertical-align: middle;
    position: relative; 
    left: 5%;
    transform: translate(-50%, -0%); 
} */